<!doctype html>
<head>
    <title>Booked Trades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container-contact100 center50">
    <div class="center">
        <h1>New Trade</h1>
    </div>
    <div class="container-table100">
    <form  class="form-style-9" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <ul>
            <li>
                <div class="center">
                    {{ form.sellCurrency.label }}:
                    {{ form.sellCurrency }}<br>
                    {% for error in form.sellCurrency.errors %}
                    <span class="red">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="center">
                    {{ form.sellAmount.label }}<br>
                    {{ form.sellAmount }}<br>
                    {% for error in form.sellAmount.errors %}
                    <span class="red">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </li>
            
            <li>
                <div class="center">
                    {{ form.buyCurrency.label }}:
                    {{ form.buyCurrency }}<br>
                    {% for error in form.buyCurrency.errors %}
                    <span class="red">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="center">
                    {{ form.buyAmount.label }}<br>
                    {{ form.buyAmount(readonly=true) }}<br>
                    {% for error in form.buyAmount.errors %}
                    <span class="red">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </li>

            <li>
                <div class="center">
                    Trade with {{ form.rate.label }}<br>
                    {{ form.rate(readonly=true) }}<br>
                    {% for error in form.rate.errors %}
                    <span class="red">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </li>
            <li>
                <div class="center50">        
                    <input type="button" name="cancel" value="Cancel Trade" onClick="window.location='/';" />
                    {{ form.trade() }}
                </div>
            </li>
        </ul>
    </form>
    </div>

    <script type="text/javascript">
    let js_sellAmount = document.getElementById('sellAmount');
    let js_buyAmount = document.getElementById('buyAmount');
    let js_rate = document.getElementById('rate');
    let js_sellCurrency = document.getElementById('sellCurrency');
    let js_buyCurrency = document.getElementById('buyCurrency');

    function amountUpdate(){
       js_sellAmount.value = Math.round(js_sellAmount.value * 100) / 100;
        if (js_rate.value != "") {            
            js_buyAmount.value = Math.round((sellAmount.value * js_rate.value) * 100) / 100;
        } else {
            js_buyAmount.value = 0;
        } 
    }
    js_sellAmount.onchange = function(){amountUpdate()};

    js_sellAmount.onkeydown = function(){amountUpdate()};

    function updateRate() {
        if (js_sellCurrency.value !== "" && js_buyCurrency.value !== "") {
            fetch("/getCrossRate/"+js_sellCurrency.value+"/"+js_buyCurrency.value).then(function(response){
                response.json().then(function(data){
                    js_rate.value = Math.round((data.rate) * 100000) / 100000;
                    if (sellAmount != "") {
                        js_buyAmount.value = Math.round((sellAmount.value * data.rate) * 100) / 100;
                    } else {
                        js_buyAmount.value = 0
                    }
                    
                });
            });
        } else {
            js_rate.value =0;
            js_buyAmount.value = 0;
        };
    };

    js_sellCurrency.onchange = function(){ updateRate(); };

    js_buyCurrency.onchange = function(){ updateRate(); };
    </script>
</div>

</body>