<!doctype html>
<head>
    <title>Booked Trades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container-100">
    <div class="center">
        <h1>Booked Trades</h1>
        <h3 class="green">{{ okMessage }} </h3>
        <h3 class="red">{{ errorMessage }} </h3>

        <div class="right">
        <a href="{{ url_for('newTradeForm') }}"><button>New trade</button></a>
    </div>

    </div>
    <div class="container-100">
    <table>
        <tr>
            <th>Sell CCY</th>
            <th>Sell Amount</th>
            <th>Buy CCY</th>
            <th>Buy Amount</th>
            <th>Rate</th>
            <th>Date Booked</th>
        </tr>
      {% for trade in trades %}
        <tr>
            <td>{{ trade.sellCurrency }}</td>
            <td>{{ '%0.2f' %  trade.sellAmount }}</td>
            <td>{{ trade.buyCurrency }}</td>
            <td>{{ '%0.2f' % trade.buyAmount }}</td>
            <td>{{ '%0.6f' % trade.rate }}</td>
            <td>{{ trade.dateBooked.strftime("%d/%m/%Y %H:%M") }}</td>
        </tr>
      {% endfor %}
    </table>
    </div>
</div>
</body>